<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMmK7v8b-cuGiC5FOh0xctEuXsnNVE-7A</string>
	<key>GCM_SENDER_ID</key>
	<string>412617714327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taimaneTimemanager</string>
	<key>PROJECT_ID</key>
	<string>taimane-timemanager</string>
	<key>STORAGE_BUCKET</key>
	<string>taimane-timemanager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412617714327:ios:ed94f63bbb6514d6dbd7d2</string>
</dict>
</plist>